.pagination {
    justify-content: center !important;
    margin-top: 10px;
}

#action_column {
    width: 20%;
}

.navbar .navbar-collapse .navbar-btn:hover{
    background-color: white;
    color: #12bbad;
}